<form class="form my-auto w-100" [formGroup]="form" (ngSubmit)="forgot()">
  <!--begin::Heading-->
  <div class="mb-10 layout">
    <div class="row">
      <div class="hub"><span>{{ 'general.project' | translate }}</span></div>
    </div>
    <div class="mb-7">
      <h1 class="forgot-title display-text-4 fw-bolder mb-2">
        {{ 'forgot.title' | translate }}
      </h1>
      <div class="forgot-description text-gray">
        {{ 'general.description' | translate }}
      </div>
    </div>

    <!-- begin::Alert error-->
    <ng-container *ngIf="errors.key || errors.detail">
      <div class="mb-8 alert alert-danger">
        <div class="alert-text font-weight-bold">
          <span *ngIf="errors.detail">{{ errors.detail }}</span>
          <span *ngIf="!errors.detail">{{ errors.key | translate }}</span>
        </div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <ng-container *ngIf="success">
      <div class="mb-10 bg-light-info p-8 rounded">
        <!--begin::Body-->
        <div class="text-info">
          <a [routerLink]="PATHS.Login" class="link-primary fontStyle">
            {{ 'forgot.success' | translate }}
          </a>
        </div>
        <!--end::Body-->
      </div>
    </ng-container>

    <!--begin::Form group-->
    <div *ngIf="'forgot.email' | translate as emailTitle" class="fv-row mb-8">
      <label class="form-label fs-4 fw-bolder text-gray-900 fontStyle">{{
        emailTitle
      }}</label>
      <input
        [formControl]="email"
        class="form-control bg-transparent"
        autoComplete="username"
        type="email"
        name="email"
        [class.is-invalid]="email.invalid && email.dirty"
        [class.is-valid]="email.valid && email.dirty"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          title: emailTitle,
          control: email
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Actions-->
    <div class="d-grid mb-10">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="(form && !form.valid) || loading"
        [attr.data-kt-indicator]="loading ? 'on' : 'off'"
      >
        <span class="indicator-label">{{ 'forgot.submit' | translate }}</span>
        <span class="indicator-progress">
          {{ 'general.loading' | translate }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-title="title">
  <ng-container *ngIf="control.invalid && control.dirty">
    <div *ngIf="control.hasError('required')" class="fv-plugins-message-container">
      <span class="text-danger" role="alert">
        {{ 'validations.required' | translate: { field: title } }}
      </span>
    </div>
    <div *ngIf="control.hasError('validation')" class="fv-plugins-message-container">
      <span class="text-danger" role="alert">
        {{ control.errors['validation'] }}
      </span>
    </div>
  </ng-container>
</ng-template>
