<div *ngIf="translation" class="card mb-5 mb-xl-10">
  <div class="card-header border-0">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">{{ translation.signInMethod }}</h3>
    </div>
  </div>
  <div class="collapse show">
    <div class="card-body border-top p-9">
      <ng-container>
        <div class="d-flex flex-wrap align-items-center">
          <div [class.d-none]="showChangeEmailForm">
            <div class="fs-6 fw-bolder mb-1">{{ translation.emailAddress }}</div>
            <div class="fw-bold text-gray-600">{{ userDetails.email }}</div>
          </div>

          <div class="flex-row-fluid" [class.d-none]="!showChangeEmailForm">
            <form class="form" (ngSubmit)="saveEmail()">
              <div class="row mb-6">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="fv-row mb-0">
                    <label class="form-label fs-6 fw-bolder mb-3">
                      {{ translation.fields.email }}
                    </label>
                    <input
                      type="email"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="email"
                      placeholder="{{ translation.fields.emailHint }}"
                    />
                    <!--begin::Validation-->
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        title: translation.fields.email,
                        control: email
                      }"
                    ></ng-container>
                    <!--end::Validation-->
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="fv-row mb-0">
                    <label class="form-label fs-6 fw-bolder mb-3">
                      {{ translation.fields.currentPassword }}
                    </label>
                    <input
                      type="password"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="currentPassword"
                      placeholder="{{ translation.fields.passwordHint }}"
                    />
                    <!--begin::Validation-->
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        title: translation.fields.currentPassword,
                        control: currentPassword
                      }"
                    ></ng-container>
                    <!--end::Validation-->
                  </div>
                </div>
              </div>

              <div class="d-flex">
                <button
                  type="submit"
                  class="btn btn-primary me-2 px-6"
                  [disabled]="(changeEmailForm && !changeEmailForm.valid) || isLoading"
                >
                  <span *ngIf="!isLoading" class="indicator-label">{{
                    'general.saveChanges' | translate
                  }}</span>
                  <span
                    *ngIf="isLoading"
                    class="indicator-progress"
                    [style.display]="'block'"
                  >
                    {{ 'general.loading' | translate }}
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span>
                  </span>
                </button>

                <button
                  type="button"
                  class="btn btn-color-gray-500 btn-active-light-primary px-6"
                  (click)="toggleEmailForm(false)"
                >
                  {{ 'general.cancel' | translate }}
                </button>
              </div>
            </form>
          </div>

          <div class="ms-auto" [class.d-none]="showChangeEmailForm">
            <button
              class="btn btn-light btn-active-light-primary"
              (click)="toggleEmailForm(true)"
            >
              {{ translation.actions.changeEmail }}
            </button>
          </div>
        </div>
      </ng-container>

      <div class="separator separator-dashed my-6"></div>

      <ng-container *ngIf="!showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div>
            <div class="fs-6 fw-bolder mb-1">{{ translation.password }}</div>
            <div class="fw-bold text-gray-600">************</div>
          </div>
          <div class="ms-auto">
            <button
              class="btn btn-light btn-active-light-primary"
              (click)="togglePasswordForm(true)"
            >
              {{ translation.actions.changePassword }}
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div class="flex-row-fluid">
            <form class="form" (ngSubmit)="savePassword()">
              <div class="row mb-1">
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label class="form-label fs-6 fw-bolder mb-3">
                      {{ translation.fields.oldPassword }}
                    </label>
                    <input
                      type="password"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="oldPassword"
                      placeholder="{{ translation.fields.passwordHint }}"
                    />
                    <!--begin::Validation-->
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        title: translation.fields.oldPassword,
                        control: oldPassword
                      }"
                    ></ng-container>
                    <!--end::Validation-->
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label class="form-label fs-6 fw-bolder mb-3">
                      {{ translation.fields.newPassword }}
                    </label>
                    <input
                      type="password"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="newPassword"
                      placeholder="{{ translation.fields.passwordHint }}"
                    />
                    <!--begin::Validation-->
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        title: translation.fields.newPassword,
                        control: newPassword
                      }"
                    ></ng-container>
                    <!--end::Validation-->
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label class="form-label fs-6 fw-bolder mb-3">
                      {{ translation.fields.confirmPassword }}
                    </label>
                    <input
                      type="password"
                      class="form-control form-control-lg form-control-solid"
                      [formControl]="confirmPassword"
                      placeholder="{{ translation.fields.passwordHint }}"
                    />
                    <!--begin::Validation-->
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        title: translation.fields.confirmPassword,
                        control: confirmPassword
                      }"
                    ></ng-container>
                    <!--end::Validation-->
                  </div>
                </div>
              </div>

              <div class="form-text mb-5">
                {{ translation.passwordRequirements }}
              </div>

              <div class="d-flex">
                <button
                  type="submit"
                  class="btn btn-primary me-2 px-6"
                  [disabled]="
                    (changePasswordForm && !changePasswordForm.valid) || isLoading
                  "
                >
                  <span *ngIf="!isLoading" class="indicator-label">{{
                    'general.saveChanges' | translate
                  }}</span>
                  <span
                    *ngIf="isLoading"
                    class="indicator-progress"
                    [style.display]="'block'"
                  >
                    {{ 'general.loading' | translate }}
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span>
                  </span>
                </button>

                <button
                  type="button"
                  class="btn btn-color-gray-500 btn-active-light-primary px-6"
                  (click)="togglePasswordForm(false)"
                >
                  {{ 'general.cancel' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      <div
        class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6"
      >
        <!--begin::Icon-->
        <i class="ki-duotone ki-shield-tick fs-2tx text-primary me-4">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
        <!--end::Icon-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
          <!--begin::Content-->
          <div class="mb-3 mb-md-0 fw-semibold">
            <h4 class="text-gray-900 fw-bold">{{ translation.secureAccount }}</h4>
            <div class="fs-6 text-gray-700 pe-7">
              {{ translation.secureAccountDescription }}
            </div>
          </div>
          <!--end::Content-->
          <!--begin::Action-->
          <a
            class="btn btn-primary px-6 align-self-center text-nowrap"
            (click)="is2Fa ? disable2Fa() : open2faDialog()"
            >{{ is2Fa ? translation.actions.disable : translation.actions.enable }}</a
          >
          <!--end::Action-->
        </div>
        <!--end::Wrapper-->
      </div>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6 mt-8"
      >
        <app-keenicon name="information" class="fs-2 text-warning me-4"></app-keenicon>
        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
          <div class="mb-3 mb-md-0 fw-bold">
            <h4 class="text-gray-800 fw-bolder">{{ translation.changePassword }}</h4>
            <div class="fs-6 text-gray-600 pe-7">
              {{ translation.changePasswordDescription }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-title="title">
  <ng-container *ngIf="control.invalid && control.dirty">
    <div
      *ngIf="control.hasError('required')"
      class="fv-plugins-message-container invalid-feedback"
    >
      <span>
        {{ 'validations.required' | translate : { field: title } }}
      </span>
    </div>
    <div
      *ngIf="control.hasError('validation')"
      class="fv-plugins-message-container invalid-feedback"
    >
      <span>
        {{ control.errors['validation'] }}
      </span>
    </div>
  </ng-container>
</ng-template>
