table {
  margin-bottom: 0;
  border-bottom: 2px solid #E5EAEE;
  margin-top: 24px;
  thead {
    background-color: #E5EAEE;
  }
  tr {
    color: #333;
    th {
      white-space: nowrap;
      font-weight: 700;
      padding: 15px;
      font-size: 12px;
    }
    td {
      font-weight: 700;
      padding: 15px;
      font-size: 14px;
    }
  }
}

.accept-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  button {
    background-color: #158456;
    border: none;
    border-radius: 6px;
    padding: 11px 18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    &:nth-child(2) {
      background-color: #F15642;
    }
  }
}
