.modal-header {
  padding: 5% 5% 0 5%;
}
.modal-body,
.modal-footer {
  padding: 5%;
}

.modal-body {
  height: 70vh;
  overflow-y: auto;
}

form {
  margin-top: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
  gap: 10px;
}

.attachments-title,
.attachment-no {
  grid-column: 1 / -1;
}

.attachments {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  grid-column: 1 / -1;
  .card {
    flex-basis: 150px;
    background-color: rgb(238, 241, 245);
  }
}

.card-body {
  position: relative;
  .deletefile {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}
