table {
  margin-bottom: 0;
  border-bottom: 2px solid #ECEEF1;
  thead {
    background-color: #ECEEF1;
  }
  tr {
    color: #333;
    th {
      white-space: nowrap;
      font-weight: 700;
      padding: 15px;
      font-size: 13px;
    }
    td {
      font-weight: 400;
      padding: 15px;
    }
  }
}
