p.title-route {
  cursor: pointer;
}

.notificationn {
  margin: 2px 0;
  &.notRead {
    background-color: rgba(21, 132, 86, .1);
  }
}

.show-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding: 0 2rem 1rem;
  button {
    background-color: transparent;
    border: none;
    color: #158456;
    cursor: pointer;
    text-decoration: underline;
  }
}
