<div class="modal-header border-0">
  <div class="d-flex flex-column">
    <h1 class="modal-title mb-1 fw-bold">
      {{ data?.translation?.title | translate }}
    </h1>
    <h3 class="modal-title">{{ data?.translation?.subtitle | translate }}</h3>
  </div>
</div>

<form class="modal-body py-0" [formGroup]="addExtractForm" id="modalBody">
  <app-custom-input
    [label]="data?.translation?.extractDate"
    [placeholder]="data?.translation?.extractDate"
    [type]="'date'"
    [formControl]="extractDate"
    [maxDate]="extractDateMaxDate"
    [minDate]="extractDateMinDate"
    [gridClass]="'span-2'"
    class="mb-4"
  >
  </app-custom-input>
  <app-custom-input
    [formControl]="type"
    [label]="data?.translation?.extractType"
    [type]="'select'"
    [placeholder]="data?.translation?.extractType"
    [selectOptions]="ExtractRequestTypes"
    [selectValue]="'id'"
    [selectLabel]="'name'"
    [gridClass]="'span-2'"
    class="mb-4"
  ></app-custom-input>

  <app-custom-input
    [formControl]="startDate"
    [label]="data?.translation?.beginWorkDate"
    [type]="'date'"
    [placeholder]="data?.translation?.beginWorkDate"
    [gridClass]="'span-2'"
    [maxDate]="extractDate.value"
    class="mb-4"
  ></app-custom-input>

  <h2 class="attachments-title mb-0">{{ data?.translation.Attachments }}</h2>

  @if (!attachments.controls.length) {
  <h4 class="attachment-no mt-2">{{ data?.translation.pleaseAddAttachment }}</h4>
  }

  <div class="attachments" formArrayName="attachments">
    <div class="card" *ngFor="let ctrl of attachments.controls; let i = index">
      <!--begin::Card body-->
      <div class="card-body text-center p-4" [formGroup]="ctrl">
        <!--begin::Name-->
        <div class="card-detail text-gray-800 text-hover-primary d-flex flex-column">
          <!--begin::Image-->
          <div class="symbol symbol-60px mb-5">
            <img
              [src]="
                'assets/media/svg/files/' +
                ctrl.get('displayName').value.split('.').pop() +
                '.svg'
              "
              class="theme-light-show"
              alt=""
            />
          </div>
          <!--end::Image-->
          <!--begin::Title-->
          <div class="fs-5 fw-bold mb-2">{{ ctrl.get('displayName').value }}</div>
          <!--end::Title-->
          <button
            (click)="removeFile(i)"
            class="deletefile btn btn-icon btn-bg-light btn-color-danger btn-sm"
          >
            <i class="ki-duotone ki-trash fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
              <span class="path5"></span>
            </i>
          </button>
        </div>
      </div>
      <!--end::Card body-->
    </div>
  </div>
</form>

<div class="modal-footer border-0 justify-content-between">
  <button class="btn bg-light" (click)="openFileAttachmentDialog()">
    {{ data?.translation.addAttachment }}
    <i>
      <img src="./assets/media/icons/attachment.svg" alt="attachment.svg" />
    </i>
  </button>

  <div class="d-flex gap-3">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!addExtractForm.valid || !attachments.length"
      (click)="submit()"
    >
      {{ 'general.save' | translate }}
    </button>
    <button type="button" (click)="close()" class="btn btn-secondary">
      {{ data?.translation.previous }}
    </button>
  </div>
</div>
