<div class="title-btn">
  <h1>{{ title }}</h1>
  @if (projects().length) {
  <button (click)="openNewOperationDialog()">
    <i class="ki-duotone ki-plus"> </i>
    <span>{{ translation?.addNewOperation | translate }}</span>
  </button>
  }
</div>

@if (projects().length) {
<app-operations-table
  [translation]="translation"
  [projectList]="projects()"
  (openEditEvent)="openEditOperationDialog($event)"
  (deletProjEvent)="deleteProject($event)"
></app-operations-table>
} @else {
<app-operations-form
  (save)="addNewProject($event)"
  [users]="users()"
></app-operations-form>
}

