<section class="main-details" [class.asideDisplay]="asideDisplay">
  <app-total-project-value-chart
    [translation]="translation"
    [financialSummary]="financialSummary()"
  ></app-total-project-value-chart>
  <app-small-expenses-chart
    [translation]="translation"
    [financialSummary]="financialSummary()"
  ></app-small-expenses-chart>
  <app-large-expenses-chart
    [translation]="translation"
    [projectId]="projectId"
  ></app-large-expenses-chart>
  <app-project-duration
    [translation]="translation"
    [projectDetails]="projectDetails"
  ></app-project-duration>
  <app-last-requests
    [translation]="translation"
    (goToActivityTabEv)="goToActivityTab()"
    [projectId]="projectId"
  ></app-last-requests>
  <app-project-requests-chart
    [translation]="translation"
    [projectId]="projectId"
  ></app-project-requests-chart>
  <app-project-tasks-chart
    [translation]="translation"
    [projectId]="projectId"
  ></app-project-tasks-chart>
  <app-project-tasks
    [translation]="translation"
    [projectId]="projectId"
    (goToTasksEv)="goToTasksTab()"
  ></app-project-tasks>
  <app-project-teams
    [translation]="translation"
    [projectId]="projectId"
    (goToTeamEv)="goToTeamTab()"
  ></app-project-teams>
</section>
