<div class="pb-7">
  <!--begin::Title-->
  <div class="d-flex flex-wrap justify-content-between align-items-center my-1">
    <h2 class="fw-bold me-5 my-1">{{ 'Projects.teams.departments' | translate }}</h2>
  </div>
  <!--end::Title-->
</div>
<!--end::Toolbar-->

<section class="departments">
  @for (department of departments; track department.label) {
  <app-department
    (refetchUsers)="refetchUsers()"
    [department]="department"
    [departmentUsers]="departmentUsersMap ? departmentUsersMap[department.value] : []"
  ></app-department>
  }
</section>

