<div
  class="d-flex flex-column flex-lg-row flex-column-fluid h-100"
  [ngStyle]="{ 'background-color': 'var(--bs-gray-100)' }"
>
  <!--begin::Body-->
  <div
    class="d-flex flex-column w-100 order-2 order-lg-1"
    [ngClass]="{ 'px-10': !router.url.includes('login') }"
  >
    <!--begin::Form-->
    <div class="d-flex w-100 flex-center flex-column">
      <!--begin::Wrapper-->
      <div class="p-lg-10" [ngClass]="{ 'p-lg-10': !router.url.includes('login') }">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->
  </div>
</div>
