.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  .card {
    width: 150px;
    height: 150px;
    background-color: rgb(238, 241, 245);
    .attachment-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}

.card-body {
  position: relative;
  .downloadfile {
    position: absolute;
    top: 3px;
    right: 3px;
  }
  .deletefile {
    position: absolute;
    top: 3px;
    left: 3px;
  }
}
