<app-aio-table
  *ngIf="tableBuilder"
  [customCardTitle]="customTitle"
  [customActionsTemplateRef]="customActionsTemplateRef"
  [title]="'SupplierApproval.table.subtitle' | translate"
  [description]="'SupplierApproval.table.description' | translate"
  [tableComponent]="this"
>
</app-aio-table>

<ng-template #customTitle>
  <div class="cardtitle">
    <div class="d-flex align-items-center justify-content-between position-relative my-1">
      <div class="title-subtitle">
        <h2>{{ translation?.title }}</h2>
        <h4>{{ translation?.subtitle }}</h4>
      </div>
      <a routerLink="request">
        <i class="ki-duotone ki-plus"> </i>
        <span>{{ translation?.addNew | translate }}</span>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #customActionsTemplateRef let-request="request">
  <div class="d-flex justify-content-end flex-shrink-0">
    <button
      class="btn btn-icon btn-color-info btn-bg-light btn-sm me-1"
      [title]="translation.viewRequest | translate"
      routerLink="request"
      [queryParams]="{
        mode: 'view',
        requestId: request.id,
        projId: request.projectId,
        isRejected: request.status === supplierApprovalRequestStatusVm.Rejected
      }"
    >
      <i class="ki-duotone ki-eye">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
      </i>
    </button>
    @if (request.createdBy === user.id && request.phase ===
    supplierApprovalRequestPhase.ProjectManagerReview) { @if (request.status ===
    supplierApprovalRequestStatusVm.Rejected) {
    <a
      [title]="'general.update' | translate"
      class="btn btn-icon btn-bg-light btn-color-primary btn-sm me-1"
      routerLink="request"
      [queryParams]="{
        mode: 'edit',
        requestId: request.id,
        projId: request.projectId,
      }"
    >
      <i class="ki-duotone ki-pencil fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </a>
    }

    <button
      [title]="'general.delete' | translate"
      class="btn btn-icon btn-bg-light btn-color-danger btn-sm"
      (click)="deleteRequest(request)"
    >
      <i class="ki-duotone ki-trash fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
      </i>
    </button>
    } @if (request.phase === supplierApprovalRequestPhase.TechnicalOfficeReview) {
    <a
      class="btn btn-icon btn-bg-primary btn-color-light btn-sm uploadfilebtn"
      routerLink="request"
      [queryParams]="{
      mode: 'edit',
      requestId: request.id,
      projId: request.projectId,
    }"
    >
      <i class="ki-duotone ki-plus"> </i>
    </a>
    }
  </div>
</ng-template>
