.log {
  display: flex;
  gap: 24px;
  padding-bottom: 65px;
  &:not(:first-child) {
    margin-top: 12px;
  }
  .logo-line {

    .logo {
      min-width: 36px;
      width: 36px;
      min-height: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        &.reject {
          width: 19px;
          height: 19px;
          border-radius: 50%;
          background-color: #f64e60;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;
          color: white;
          font-size: 9px;
        }
      }
    }
    .dashed-line {
      margin-top: 12px;
      width: 2px;
      height: 100%;
      position: relative;
      right: 45%;
      transform: translateX(-50%);
      background: repeating-linear-gradient(
        to bottom,
        #E4E6EF,
        #E4E6EF 5px,
        transparent 5px,
        transparent 10px
      );
    }
  }
  .content {
    padding: 0;
    flex: 1;
    .title {
      color: #3F4254;
      font-size: 16px;
      font-weight: 700;
    }
    .subtitle {
      font-size: 14px;
      font-weight: 400;
      color: #B5B5C3;
      .name {
        color: #158456;
        font-weight: 700;
      }
    }
    table {
      margin-bottom: 0;
      border-bottom: 2px solid #E5EAEE;
      margin-top: 16px;
      thead {
        background-color: #E5EAEE;
      }
      tr {
        color: #333;
        th {
          white-space: nowrap;
          font-weight: 700;
          padding: 15px;
          font-size: 12px;
        }
        td {
          font-weight: 700;
          padding: 15px;
          font-size: 14px;
          a.details {
            width: 32px;
            height: 32px;
            border-radius: 6px;
            color: #858896;
            background-color: #F5F8FA;
            text-decoration: none;
            display: flex;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
          }
          &.showrequest {
            button {
              border: none;
              background-color: #EFF1F2;
              border-radius: 6px;
              color: #464E5F;
              font-size: 12px;
              font-weight: 700;
              padding: 11px 13px;
              white-space: nowrap;
            }
            &.extract button {
              background-color: #F5F8FA;
              color: #608DD1;
            }
          }
        }
      }
    }
    .file-list {
      margin-top: 16px;
      border: 1px solid #E4E6EF;
      background-color: #F5F8FA33;
      display: flex;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
      gap: 12px 80px;
      padding: 16px 22px;
      flex-wrap: wrap;
      border-radius: 6px;
      .file-item {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 0 0 24%;
        max-width: 24%;
        p {
          margin: 0;
          white-space: nowrap;
          font-size: 16px;
          font-weight: 700;
          color: #181C32;
        }
      }
    }
  }
}
